<!DOCTYPE html>
<html>
<!-- 
	*******************************************************************
	Hi there. You are welcome to look at my code for learning purposes
	but please don't steal. I've put many hours of hard work into this.
	
	Designed and built by Jamis Charles 


	*******************************************************************
-->

<head>
	<%= yield :head %>
	
	<%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
